
{% extends "base.html" %}

{% block content %}

<div class="container is-fullheight" style="margin-bottom: 10em">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-2">
        <div class="card" id="{{ card.id }}">
          <div class="card-image">
            <figure class="image">
              <img src="{{ card.cover }}" alt="Couverture de {{ card.title }}"/>
            </figure>
          </div>
        </div>
      </div>

      <div class="card-content column is-4">
        <div class="media">
          <span class="media-content">
            <p class="title is-4 no-padding">
              <a href="{{ card | url }}" style="color: black;">
                {{ card.title }}
              </a>
            </p>
            {% if card.author %}
            <p><span><a href="/search?q={{ card.author }}">{{ card.author | capfirst }}</a></span></p>
            {% endif %}

            {% if card.publisher %}
            <p class="">{{ card.publisher | capfirst }}</p>
            {% endif %}

            {% if card.shelf %}
            <p>
              <a href="/search?rayon={{ card.shelf_id }}">
                <span class="tag" title="{{ card.shelf }}"> {{ card.shelf | truncatechars:27 }} </span>
              </a>
            </p>
            {% endif %}

            {% if card.isbn %}
	    <div class="has-text-grey-light"> {{ card.isbn }} </div>
            {% endif %}

            {% if card.price %}
	    <div class="title is-6"> {{ card.price | price }} €</div>
            {% endif %}

            <button class="button is-medium is-fullwidth is-outlined is-rounded" style="cursor: pointer;" title="Ajouter au panier" onclick="add_to_cart({{ card.id }})"> Ajouter au panier 
              <i class="fas fa-lg fa-plus-circle" style="color: #ea62ff"></i>
            </button>

          </span>
        </div>
      </div>
    </div>

    <div>
      {% if same-author %}
      <h4 class="title is-4">Du même auteur</h4>

      <div class="row columns is-multiline is-mobile">
        {% for card in same-author %}
        {% include "component-card.html" %}
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if same-shelf %}
    <div style="padding-top: 30px">
      <h4 class="title is-4">Dans le même rayon</h4>

      <div class="row columns is-multiline is-mobile">
        {% for card in same-shelf %}
        {% include "component-card.html" %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}
